#{extends 'main.html' /}
#{set title:'Leaderboard' /}

<nav class="ui menu"> 
  <a class="ui item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui active item" href="/leaderboard">Leaderboard</a>
  <a class="ui item" href="/login">Logout</a>      
</nav>

	<!-- STORY 14, show Users ordered by most social, most talkative -->
	
<section class="ui segment">
	<h2 class="ui header">Social Leaderboard</h2>
  <div class="ui list">
    #{list items:users, as:'user'}
      <div class="item">
      	<i class="right triangle icon"></i>
        <!--  i class="right numbered"></i> -->
        <div class="content">
          ${user.firstName} ${user.lastName} (inbox-${user.inbox.size()}, outbox-${user.outbox.size()} friends-${user.friendships.size()})
          <!-- inbox and outbox size initially defined in Home controller and sorted in Leaderboard Controller using comparators -->
        </div>
      </div> 
    #{/list}
  </div>
<!-- STORY 14 to sort all messages by: -->
				<!-- by Most Social (most friends) -->
				<!-- by Most Talkative (most messages)-->

				<!--  Add the Link Buttons / parameters to sort by  -->
				<!-- Sorting defined in the Leaderboard Controller-->
				<a class="ui grey button" href="/leaderboard?sort=friends" > MOST SOCIAL</a> <!-- Most friends -->
				<a class="ui grey button" href="/leaderboard?sort=talkative" > MOST TALKATIVE</a> <!-- Most messages sent-->
</section>