#{extends 'main.html' /} #{set title:'Home' /}

<nav class="ui menu"> 
  <a class="ui active item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui item" href="/leaderboard">Leaderboard</a>
  <a class="ui item" href="/login">Logout</a>      
</nav>

<section class="ui segment">
	<h2 class="ui header">SpaceBook: Home page for ${user.firstName}
		${user.lastName}</h2>
	<!-- STORY 3, add age and nationality to Home profile page - NOT placed here but in Profile tab- views/Profile/index.html -->

	<div class="ui two column grid segment">
		<!-- STORY 8 refers to overall page width, changed to two-column width overall instead of three-column -->

		<!--  <div class="ui two column grid segment"> Remove this- would divide first column in 2-->
		<div class="ui row">
			<div class="ui column">
				<h2>Friends (${user.friendships.size()})</h2>
				<div class="ui list">
				<!-- For-each loop to walk through the 'following' list in the User object to find the friendship object:  -->
					#{list items:user.friendships, as:'friendship'}
					<div class="item">
						<i class="right triangle icon"></i>
						<div class="content">
							<a href="/publicprofile/${friendship.targetUser.id}">
								${friendship.targetUser.firstName}
								${friendship.targetUser.lastName}</a> (<a
								href="/home/drop/${friendship.targetUser.id}"> drop </a>)
						</div>
					</div>
					#{/list}
				</div>
			</div>

			<div class="ui column">
				<h2>Messages</h2>
                <!-- STORY 8 messages list changed to table format -->
                
				<table class="ui celled table">
					<thead>
						<!-- STORY 8 & STORY 10 sets up the table headings -->
						<!-- Uses semantic UI table syntax -->
						<tr>
							<th>Sender Name</th>
							<th>Subject</th>
							<th>Message Text</th>
						</tr>
					</thead>

					<tbody>
						<!--STORY 8 sets up the table fields, using list command to iterate through all the message rows -->
						<div class="ui list">
						
						<!-- STORY 13 Uses an if-else statement to sort all messages by: -->
						<!-- Date message sent -->
						<!-- Sender Name -->
						#{if (sort = "date") || (sort = "sender")} <!--if sorted by date or by sender-->
							#{list items:user.inbox, as:'message'}
							<!-- For loop in html -->
							<tr>
							
								<!--  STORY 9 Link sender name to sender profile to allow User to navigate from message directly to sender -->
								<!-- links to Message MODEL to get 'message from' attribute, inherits id from Message MODEL'Message extends Model' -->
								<td><img src="/profile/getpicture/${message.from.id}"
									width=25 height=25> <!--STORY 12: calls get picture method from Profile CONTROLLER -->
								<a href="/publicprofile/${message.from.id}">${message.from.firstName}</a> 
								<!--STORY 9: link to sender name from PublicProfile CONTROLLER -->
									
								</td>
								<td>${message.messageSubject}</td>
								<td>${message.messageText}</td>
							</tr>
							#{/list}
							<!-- End of For loop in html -->
						#{/if}	
		
						<!--else sort by Conversation -->				
						#{else sort = "conversation"}
							#{list items:conversation, as:'message'}	
							<tr>
							<td><img src="/profile/getpicture/${message.from.id}"
									width=25 height=25> <!--STORY 9: calls get picture method from Profile CONTROLLER -->
								<a href="/publicprofile/${message.from.id}">${message.from.firstName}</a> 
								<!--STORY 9: link to sender name from PublicProfile CONTROLLER -->
									
								</td>
								<td>${message.messageSubject}</td>
								<td>${message.messageText}</td>
							</tr>
							#{/list}
							<!-- End of For loop in html -->
						#{/else}
						</div>

					</tbody>
				</table>


				<!-- STORY 13 to sort all messages by: -->
				<!-- by Date message sent -->
				<!-- by Sender Name -->
				<!-- by Conversation -->

				<!--  Add the Link Buttons / parameters to sort by  -->
				<a class="ui grey button" href="/home?sort=date" > BY DATE</a> 
				<a class="ui grey button" href="/home?sort=sender" > BY SENDER</a> 
				<a class="ui grey button" href="/home?sort=conversation"> BY CONVERSATION</a>


		</div>
	</div>
</section>

