#{extends 'main.html' /} #{set title:'Profile' /}

<nav class="ui menu"> 
  <a class="ui item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui active item" href="/profile">Profile</a>   
  <a class="ui item" href="/leaderboard">Leaderboard</a>
  <a class="ui item" href="/login">Logout</a>      
</nav>

<section class="ui segment">
	<h2 class="ui header">${user.firstName}'s Profile, age
		${user.age}, ${user.nationality}</h2>
			<!-- story 3, add age and nationality to Home profile page -->
			
	<div class="ui two column grid segment">
		<div class="ui row">
			<div class="ui column">
				<p>
					<img src="/profile/getpicture/${user.id}">
				</p>
				<!-- provided; STORY 12: used to load pictures for each profile in the messages list -->

				<!-- START OF FORM ACTIONS FOR USER INPUT -->
				<form action="/profile/uploadpicture/${user.id}" method="post"
					enctype="multipart/form-data">
					<input type="file" name="picture" /> <input type="submit"
						name="submit" value="upload" />
				</form>
			</div>

			<div class="ui column form segment">
				<h2 class="ui small header">Status</h2>
				<div class="ui green block label">
					<p>${user.statusText}</p>
				</div>
				<hr>
				<form action="/profile/changestatus" method="post">
					<h3 class="ui inverted teal block header">Enter Status</h3>
					<textarea class="ui field" name="profiletext"> </textarea>
					<input class="ui blue button" type="submit" name="submit"
						value="Change" />
					<hr>
					
					<!-- STORY 4 to create new field attributes, to be changed in one 'change text' button execution -->
					<h2 class="ui small header">Edit Profile</h2>
					<div class="ui green block label">
						<p>${user.genderText}</p>
						<p>${user.relationshipText}</p>
						<p>${user.petsText}</p>
						<p>${user.hobbiesText}</p>
						<p>${user.foodsText}</p>
						<p>${user.likesText}</p>
					</div>
					</form>
					<hr>
					<!--STORY 4  changeprofile in ROUTES maps Profile CONTROLLER and User MODEL fields to this Profile/index VIEW -->
					<!--  Note that each time you change text it replaces all previously-saved fields, even if the individual field not altered -->
					<form action="/profile/changeprofile" method="post">
						Gender: <input type="text" name="gender"><br>
						Relationship: <input type="text" name="relationship"><br>
						Pets: <input type="text" name="pets"><br> 
						Hobbies: <input type="text" name="hobbies"><br> 
						Favourite Foods: <input type="text" name="foods"><br> 
						Likes: <input type="text" name="likes"><br> 
						<input class="ui blue button" type="submit" value="Change Text">
					</form>
			</div>
			
			
			

		</div>
	</div>
</section>

