#{extends 'main.html' /}
#{set title:'Members' /}

<nav class="ui menu"> 
  <a class="ui item" href="/home">Home</a>      
  <a class="ui active item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui item" href="/leaderboard">Leaderboard</a>
  <a class="ui item" href="/login">Logout</a>      
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook's Members</h2>
  <div class="ui list">
    #{list items:users, as:'user'}
    <!--'For-each loop': traverse all the user objects in the user list and call each one 'user' -->
      <div class="item">
        <i class="right triangle icon"></i> 
        <div class="content">
          ${user.firstName} ${user.lastName} <a href="/members/follow/${user.id}"> (follow) </a> Current Status: ${user.statusText}
        <!-- create a list element to contain details of each user object as above -->
        <!-- STORY 6 Show member current status message -->
        </div>
      </div> 
    #{/list}
  </div>
</section>